<ion-view view-title="About Petbook">
  <ion-content>

  	<!-- <div class="hero no-header flat">
        <div class="content">
            <h1>Petbook</h1>
        </div>
    </div> -->
    <div class="list card">
      <div class="item item-body" style="text-align: center;"> <!--style="text-align: center;">-->
        Petbook is a social media app for connecting with pet lovers! Discover fun new playmates waiting to meet you and your pet. Find a dog-sitter or a safe location for boarding your pet while you are away. 
      </div>
      <div class="item item-divider">
        <b>Share the Fun, Share the Love</b>
      </div>
      <div class="item item-body">
        With PetBook, create a profile for your pet to let their personality shine!
      </div>
      <div class="item item-divider">
        <b>Connect on PetBook</b>
      </div>       
      <div class="item item-body">
        Our pets are like family to us. We’d do anything to ensure that their memories with us are fun and filled with love! Connect with the community of pets and pet owners who share this belief.  
      </div>
  	</div>

    <div class="list card">
      <div class="item item-body" style="text-align: center;">
        If you have any questions or comments, contact us at: 
        <br/>
        hedukor@gmail.com.
      </div>
    </div>

  </ion-content>
</ion-view>