<ion-view view-title="About">
  <ion-content>

  	<!-- <div class="hero no-header flat">
        <div class="content">
            <h1>Petbook</h1>
        </div>
    </div> -->
    <div class="list card">
    	<div class="item item-body" style="text-align: center;">
    		<img class="full-image" src="../img/dog1.jpeg">
	    	<p><font size="4">Pets Are Lonely.</font></p>
	    	<img class="full-image" src="../img/friends1.jpg">
	    	<p><font size="4">Find Friends For Your Pets.</font></p>
	    	<img class="full-image" src="../img/care1.jpg">
	    	<p><font size="4">Love, Care, Promise.</font></p>  
		</div>
	</div>
  </ion-content>
</ion-view>