<ion-view view-title="Home">
    <!-- <div class="ionic login " style="background-image: url('img/landing.jpeg'); background-size: cover; background-repeat: no-repeat;"> -->
        <form name = "changePasswordForm" novalidate>
            <div class="list">
              <ion-md-input name = "oldP" placeholder="Old Password" highlight-color="balanced" type="password" ng-model="user.oldPassword" required></ion-md-input> 
                <ion-md-input name = "newP1" placeholder="New Password" highlight-color="balanced" type="password" ng-model="user.password" ng-minlength="6" required></ion-md-input>   
                <p class="help-text" ng-show="changePasswordForm.newP1.$error.minlength" class="help-block">Password is at least 6 characters.</p>
                <ion-md-input name = "newP2" placeholder="Confirm New Password" highlight-color="balanced" type="password" ng-model="user.password2" required></ion-md-input>
                <p class="help-text" ng-if="passwordMismatch">Please enter matching passwords</p>
            </div>
            <div class="padding">
                <button type="submit" ng-click="changePword()" class="button button-block button-calm waves-effect waves-button">Submit</button>
            </div>
        </form>
    </div>
</ion-view>
