
<ion-view view-title="Change Password">
  <ion-content class="padding">

<form ng-submit="ChangeIt()">
  <label class="item item-input">
    <input type="password" placeholder="Current password" ng-model="pass.oldPass" />
  </label>
  <label class="item item-input">
    <input type="password" placeholder="New password" ng-model="pass.pass1" />
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Confirm new password" ng-model="pass.pass2" />
  </label>
     
  <label class="item item-input" >
     <span class="error">{{errorMsg}}</span>
   </label>   
   
  <label class="item item-input">
   <button type="submit" class="button button-charaspark button-outline">
   Submit
   </button>
  </label>
</form>


</div>
  </ion-content>
</ion-view>
