<ion-view view-title="Edit Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <form name="profileEdit">
            <div class="list">
                <!-- avatar -->
                <div ng-if="field === 'avatar'">
                    <button class="button button-full button-positive" ng-click="selectImage()">
                        Select Photo
                    </button>
                   <!--<img ng-show="image" ng-src="{{user.avatar}}"/> -->
                   <!--<p>Your photo: {{user.avatar}}</p>
                   
                   <a class="item item-avatar">
                     <img src="{{user.avatar}}">
                   </a>
                   -->
                   <div class="item item-body">
                    <img class="full-image avatar-bigger" ng-src="{{user.avatar}}">
                    </div>
                </div>
                <!-- name -->
                <label class="item item-input" ng-if="field === 'name'">
                    <span class="input-label">Name:</span>
                    <input type="text" placeholder="Pet Name" ng-model="pet.name">
                </label>
                <!-- dob -->
                <label class="item item-input" ng-if="field === 'dob'">
                    <span class="input-label">Birthday:</span>
                    <input type="date" ng-model="pet.dob" />
                </label>
                <!-- gender -->
                <label class="item item-input" ng-if="field === 'sex'">
                    <span class="input-label">Gender:</span>
                    <select ng-model="pet.sex">
                        <option selected>Male</option>
                        <option>Female</option>
                    </select>
                </label>
                <!-- breed -->
                <label class="item item-input" ng-if="field === 'breed'">
                    <span class="input-label">Breed:</span>
                    <input type="text" ng-model="pet.breed" />
                </label>
                <!-- bio -->
                <label class="item item-input" ng-if="field === 'bio'">
                    <span class="input-label">Bio:</span>
                    <input type="text" ng-model="pet.bio" />
                </label>
            </div>
            <div class="buttons">
                <button class="button button-full button-positive" ng-click="save(pet)" ng-if="field !== 'avatar'">
                    Save
                </button>

                <button class="button button-full button-positive" ng-click="upload()" ng-if="field === 'avatar'">
                    Save
                </button>

                <button class="button button-full button-assertive" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
