
<ion-view view-title="Retrieve Password">
<ion-content class="padding">

<form>
   <div>
    <p><font size="4">Enter your registered email below. Your temporary password will be sent to your email. Use the temporary password to login and change your password once you log in.</font></p>
  </div>
   <div class="list">
        <ion-md-input placeholder="Email" highlight-color="balanced" type="text" ng-model="user.email" required></ion-md-input>
        <div class="help-text" ng-if="error">
            <span>{{error}}</span>
        </div>
    </div>
    <div class="padding">
        <button type="submit" ng-click="sendPassword()" class="button button-block button-calm waves-effect waves-button waves-light">Submit</button>
    </div>
</form>

</ion-content>
</ion-view>