<ion-view view-title="">
  <ion-content>

<div class="list animate-fade-slide-in-right">



    </div class="list">

      <div class="item item-divider" style="background-color:#E8E8E8;">
        Pet Info
      </div>

      <a class="item item-icon-right" href="#">
        <label>Name: </label>
        <span>{{user.pet.name}}</span>
      </a>

      <a class="item item-icon-right" href="#">
        <label>Birthday: </label>
        <span>{{user.pet.dob | date:'MM/dd/yyyy'}}</span>
      </a>

      <a class="item item-icon-right" href="#">
        <label>Gender: </label>
        <span>{{user.pet.sex}}</span>
      </a>

      <a class="item item-icon-right" href="#">
        <label>Breed: </label>
        <span>{{user.pet.breed}}</span>
      </a>

      <a class="item item-icon-right" href="#">
        <label>Bio: </label>
            <p style="white-space:normal;">{{user.pet.bio}}</p>
      </a>
    </div>

  </ion-content>
</ion-view>