
<ion-view>
    <ion-slide-box>

      <ion-slide>

        <div class="col-offset-75">
          <button class="button button-clear button-assertive" ui-sref="app.login" style="position:absolute;">Skip</button>
        </div>
        <img ng-src="img/intro1.jpg" class="fullscreen-image" />  
        
        <div class="desc">
        <h4 class="calm"><center><strong>Welcome to Petbook!</strong></center></h4>
            <p>Connect with pets and pet lovers near you! Find pets and owners based on location, or search with more specifics like pet breed or hobbies!</p>
<!--         <div class="assertive"><center>Connect with pets and pet lovers near you.</center></div> -->
        </div>       
      </ion-slide>


      <ion-slide>
      <div class="col-offset-75">
          <button class="button button-clear button-assertive" ui-sref="app.login" style="position:absolute">Skip</button>
        </div>
        <img ng-src="img/intro2.jpg" class="fullscreen-image" />

        <div class="desc">
        <h4 class="calm"><center><strong>Connect & Communicate</strong></center></h4>
            <p>Maybe you’re looking for a new playmate for your pet. Do you need a dog-sitter or a safe location for boarding while you’re away? Or explore to see if there are any upcoming pet-friendly events and activities in your area.</p>
<!--         <div class="assertive"><center>Discover fun, new playmates waiting to meet you and your pet.</center></div> -->
        </div>
      </ion-slide>


      <ion-slide>
      <div class="col-offset-75">
          <button class="button button-clear button-assertive" ui-sref="app.login" style="position:absolute">Start</button>
        </div>      
        <img ng-src="img/intro3.jpg" class="fullscreen-image" />

        <div class="desc">
        <h4 class="calm"><center><strong>Find it all on Petbook!</strong></center></h4>
            <p>Explore to find upcoming pet-friendly events and activities in your area.</p>
  <!--       <div class="assertive"><center>Explore to find upcoming pet-friendly events and activities in your area.</center></div> -->
        </div>
        



      </ion-slide>

</ion-slide-box>     

</ion-view>