
<ion-view>
    <ion-slide-box>

      <ion-slide>

        <div class="col-offset-75">
          <button class="button button-clear button-assertive" ui-sref="app.login" style="position:absolute;">Skip</button>
        </div>
        <img ng-src="img/intro1.jpg" class="fullscreen-image" />  
        
        <div class="desc">
        <h4 class="calm"><center><strong>Welcome to Petbook!</strong></center></h4>
<!--         <div class="assertive"><center>Connect with pets and pet lovers near you.</center></div> -->
        </div>       
      </ion-slide>


      <ion-slide>
      <div class="col-offset-75">
          <button class="button button-clear button-assertive" ui-sref="app.login" style="position:absolute">Skip</button>
        </div>
        <img ng-src="img/intro2.jpg" class="fullscreen-image" />

        <div class="desc">
        <h4 class="calm"><center><strong>Connect & Communicate</strong></center></h4>
<!--         <div class="assertive"><center>Discover fun, new playmates waiting to meet you and your pet.</center></div> -->
        </div>
      </ion-slide>


      <ion-slide>
      <div class="col-offset-75">
          <button class="button button-clear button-assertive" ui-sref="app.login" style="position:absolute">Start</button>
        </div>      
        <img ng-src="img/intro3.jpg" class="fullscreen-image" />

        <div class="desc">
        <h4 class="calm"><center><strong>Find it all on Petbook!</strong></center></h4>
  <!--       <div class="assertive"><center>Explore to find upcoming pet-friendly events and activities in your area.</center></div> -->
        </div>
        



      </ion-slide>

</ion-slide-box>     

</ion-view>