
 <ion-view view-title="Login">
    <div class="ionic login " style="background-image: url('img/landing-dogs.jpg'); background-size: cover; background-repeat: no-repeat;">
            <div class="hero no-header flat" style="height:30%">
                <div class="content">
                <!-- 
                    <i class="ion-map icon hero-icon royal-bg"></i>
                 -->
                    <img src="img/petbook-lg.png" style="width:50%"/>
                </div>
            </div>

            <form ng-submit="login()">
            <div class="list">
                <!-- <label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text"><input type="text" ng-model="user.username" required><span class="input-label">Username</span><div class="highlight highlight-balanced"></div></label> 
                <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password"><input type="password" ng-model="user.password" required><span class="input-label">Password</span><div class="highlight highlight-energized"></div></label>-->
                <ion-md-input placeholder="Username" highlight-color="balanced" type="text" ng-model="user.username" required></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="balanced" type="password" ng-model="user.password" required></ion-md-input>
                
            </div>
            <div class="list error" ng-if="error">
                <span>Invalid Credentials</span>
            </div> 
            <div class="padding">
                <input type="submit" class="button button-block button-positive waves-effect waves-button waves-light" ng-disabled="loginForm.$invalid" value="Login">
                <u class="calm" ng-click="register()"><b>New here? Sign up.</b></u>              
            </div>
            </form>

            <div class="button-bar">
                <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
                <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
            </div>
        </div>
</ion-view>