<ion-view view-title="Moments" hide-back-button="true">

    <ion-content ng-class="{expanded:$scope.isExpanded}">
    
        <!-- <div class="item card-item"> -->

<!--         <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
       
<!-- {{posts}} -->
        <div class="item card-item" ng-repeat="post in posts | orderBy: '-createdDate'">
            <!--<div class="card stable-bg ink ink-dark">-->
                <div class="item item-avatar reduce-padding">
                    <img class = "slimmer" src="img/dog2.jpg">
                    <h2 ng-click = "checkFriendInfo(post)">{{post._Owner.username}}</h2>  
                
                <!--<div class="item item-text-wrap" >
                    <<span class="avatar" style="background-image: url('img/dog2.jpg');"></span> -->
                    <p class = "wrap">{{post.description}}</p>    
                    <div class="card-footer text-right">
                    <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive" ng-click="clickedLike(post)"></i> {{getLikes(post)}}

                        <div class="pull-left">
                            <i class="icon ion-clock larger"></i> <b>{{post.createdDate | date:'MM/dd/yyyy'}}</b>
                        </div>
                    </div>
                </div> 
            <!--    </div>
                
            </div>-->
        </div>
    </ion-content>
</ion-view>



