<ion-view view-title="My Posts">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/dogavatar.jpg');"></div>
                <h3><a class="light">{{user.username}}</a></h3>
            </div>
        </div>

        <div class="item card-item animate-fade-slide-in-right" ng-repeat="post in posts | orderBy: '-createdDate'">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <!-- <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span> -->
                    {{post.description}}
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> {{post.likes}}
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{post.createdDate}}
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
