<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        
        <div class="list animate-fade-slide-in-right">


<!--    <div class="item card-item"> -->
    <div class="card">
        <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/lake-animals-dogs-pets.jpg');"></span>
            <strong>{{user.username}} <br />{{user.email}}</strong>

                </div>
            </div>
        </div class="list">
        <div class="item item-divider mgrey">
            Pet Info
        </div>
        <a ng-if="!editMode" class="item pet-profile-item" href="#">
            <label>Name:</label>
            <span>{{user.pet.name}}</span>
          </a>
        <div class="item pet-profile-item" ng-if='editMode'>
            <label>Name: </label>
            <input type="text" ng-model="user.pet.name" />
        </div>
        <a class="item pet-profile-item" ng-if="!editMode" href="#">
            <label>Age: </label>
            <span>{{user.pet.age}}</span>
          </a>
           <div class="item pet-profile-item" ng-if='editMode'>
            <label>Age: </label>
            <input type="text" ng-model="user.pet.age" />
        </div>
        <a class="item pet-profile-item" ng-if="!editMode" href="#">
            <label>Sex: </label>
            <span>{{user.pet.sex}}</span>
        </a>
         <div class="item pet-profile-item" ng-if='editMode'>
            <label>Sex: </label>
            <input type="text" ng-model="user.pet.sex" />
        </div>
        <a class="item pet-profile-item" ng-if="!editMode" href="#">
            <label>Breed: </label>
            <span>{{user.pet.breed}}</span>
        </a>
         <div class="item pet-profile-item" ng-if='editMode'>
            <label>Breed: </label>
            <input type="text" ng-model="user.pet.breed" />
        </div>
        <a class="item pet-profile-item" ng-if="!editMode" href="#">
            <label>Bio: </label>
            <p style="white-space:normal;">{{user.pet.bio}}</p>
        </a>
         <div class="item pet-profile-item" ng-if='editMode'>
            <label>Bio: </label>
            <input type="text" ng-model="user.pet.bio" />
        </div>
<!-- mthemecolor -->


        </div>
    </ion-content>
</ion-view>
<div>
    <input type="text" ng-if='user.admin' ng-model="myModel" /> <span ng-if='!user.admin'>{{ myModel }}</span> </div>
