<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!-- <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Username Here{{user.username}}</a></h3>
            </div>
        </div> -->

<!--         <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div> -->


        <div class="list animate-fade-slide-in-right">

          <div class="item item-divider mgrey">
            User Info
          </div>

<!--           <div class="list">
            <a class="item item-thumbnail-left" href="#" style="padding:25px;">
              <img src="../img/dog2.jpg">
              <h2>User firstname here{{user.firstname}}</h2>
              <p>Back off, man. I'm a scientist.</p>
            </a>
        </div> -->
<!--    <div class="item card-item"> -->
    <div class="card">
        <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/dogavatar.jpg');"></span>
            <strong>User firstname here{{user.firstname}}</strong>
           <!--  <div class="card-footer text-right">
                <i class="icon ion-chatbubbles positive"></i> 6
                <i class="icon ion-heart assertive"></i> 23
                <div class="pull-left">
                    <i class="icon ion-clock"></i> just now
                </div>
            </div> -->
        </div>
    </div>
    </div class="list">

          <div class="item item-divider mgrey">
            Pet Info
          </div>

          <a class="item" href="#">
            Name: {{user.pet.name}}
          </a>
          <a class="item" href="#">
            Age: {{user.pet.age}}
          </a>
          <a class="item" href="#">
            <h3>Sex: {{user.pet.sex}}</h3>
          </a>
          <a class="item" href="#">
            <h3>Breed: {{user.pet.breed}}</h3>
          </a>
          <a class="item" href="#">
            <p>Bio: {{user.pet.bio}}</p>
          </a>

        </div>
    </ion-content>
</ion-view>



</div>

