<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!-- <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Username Here{{user.username}}</a></h3>
            </div>
        </div> -->

<!--         <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div> -->


        <div class="list animate-fade-slide-in-right">

          <div class="item item-divider">
            User Info
          </div>

          <a class="item item-thumbnail-right" href="#">
              <img src="../img/dog2.jpg">
              <h2>User firstname here{{user.firstname}}</h2>
          </a>

          <div class="item item-divider">
            Pet Info
          </div>

          <a class="item" href="#">
            <h3>Name: {{user.pet.name}}</h3>
          </a>
          <a class="item" href="#">
            <h3>Age: {{user.pet.age}}</h3>
          </a>
          <a class="item" href="#">
            <h3>Sex: {{user.pet.sex}}</h3>
          </a>
          <a class="item" href="#">
            <h3>Breed: {{user.pet.breed}}</h3>
          </a>
          <a class="item" href="#">
            <p>Bio: {{user.pet.bio}}</p>
          </a>

        </div>
    </ion-content>
</ion-view>
