<ion-view view-title="Forgot Password">
    <div class="ionic login " style="background-image: url('img/landing.jpeg'); background-size: cover; background-repeat: no-repeat;">
        <div class="hero no-header flat" style="height:30%">
            <div class="content">
                <img src="img/Logo2_with_type.png" style="width:35%" />
            </div>
        </div>
        <form name="forgotPasswordForm">
            <div class="list">
                <ion-md-input placeholder="Email" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>
                <div class="help-text" ng-if="error">
                    <span>{{error}}</span>
                </div>
            </div>
            <div class="padding">
                <button type="button" ng-click="sendPassword()" class="button button-block button-calm waves-effect waves-button waves-light">Submit</button>
            </div>
        </form>
    </div>
</ion-view>
