
 <ion-view view-title="Login">
    <div class="ionic login " style="background-image: url('img/landing.jpeg'); background-size: cover; background-repeat: no-repeat;">
            <div class="hero no-header flat" style="height:30%">
                <div class="content">
                    <img src="img/Logo2_with_type.png" style="width:35%"/>
                </div>
            </div>

            <form name="loginForm" ng-submit="login()">

            <div class="list">
                <ion-md-input placeholder="Username" highlight-color="balanced" type="text" ng-model="user.username" required></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="balanced" type="password" ng-model="user.password" required></ion-md-input>
                
            </div>
            <div class="list error" ng-if="error">
                <span>Invalid Credentials</span>
            </div>
            <div class="padding">
                 <button type="submit" ng-disabled="loginForm.$invalid" class="button button-block button-positive waves-effect waves-button waves-light">Login</button>
            <a href="#" class="calm" ng-click="register()"><b>New here? Sign up.</b></a>              
            </div>
            <!-- <div><center>
                
            </center></div> -->
            </form>
            
            <!-- Removed, feature not added yet (MN)
            <div class="button-bar">
                <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
                <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
            </div> -->
        </div>
</ion-view>
