        <div ng-if="vm.showProfileAvatar" class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/dogavatar.jpg');"></div>
                <h3><a class="light">{{user.username}}</a></h3>

            </div>
        </div>
        
        <div class="item card-item" ng-if="vm.posts.length" ng-repeat="post in vm.posts | orderBy: '-createdDate' | limitTo: vm.total" ng-class="{ 'in in done': vm.hasRendered }">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap" ng-class="{ 'in done': vm.hasRendered }">

                    <span ng-if="vm.showPostAvatar" class="avatar" style="background-image: url('img/petbook-lg.png');" ng-click = "vm.checkFriendInfo(post)"></span>
                    <strong ng-click = "vm.checkFriendInfo(post)">{{post._Owner.username}}</strong> {{post.description}}
                    <div class="card-footer text-right">
                        <i class="icon ion-ios-chatboxes positive"  ng-click="vm.addComment(post)"></i>
                        <i class="icon  assertive larger" ng-class="{ 'ion-ios-heart': vm.hasUserAlreadyVotedOnPost(post), 'ion-ios-heart-outline': !vm.hasUserAlreadyVotedOnPost(post) }" ng-click="vm.clickedLike(post)"></i>
                        {{vm.getLikes(post,$event)}}

                        <div class="pull-left">
                            <!--<i class="icon ion-clock"></i> {{post.createdDate | date:'MM/dd/yyyy'}}-->
                            <i class="icon ion-clock"></i> {{vm.getTimeSpan(post)}}
                        </div>

                        <div class="arrow_box" ng-click="vm.addComment(post)" ng-repeat="comment in vm.getComments(post)">
                            <div><a href="#/app/friendinfo/{{comment.commentBy._id}}">{{comment.commentBy.username}}</a>: {{comment.comment}}  <span class="pull-right"><i class="icon ion-clock"></i> &nbsp;{{vm.getTimeSpan(comment)}}</span></div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-if="!vm.posts || !vm.posts.length">
          <div class="item item-text-wrap">
            {{vm.noDataMsg}}
          </div>
        </div>

        <ion-infinite-scroll
            on-infinite="vm.getHasMoreData()"
            ng-if="vm.hasMoreData"
            distance="1%">
          </ion-infinite-scroll>

    

