<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        
    <!-- <div class="list animate-fade-slide-in-right"> -->


<!--    <div class="item card-item"> -->
    <div class="card">
        <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/lake-animals-dogs-pets.jpg');"></span>
            <strong>{{user.username}} <br />{{user.email}}</strong>
        </div>
    </div>
      


    <div class="animate-fade-slide-in-right">


      <div class="item item-divider" style="background-color:#E8E8E8;">
        Pet Info
      </div>

      
      <a class="item item-icon-right" ui-sref="app.editProfile({field: 'avatar', value: user.avatar})">
        <i class="icon ion-ios-arrow-forward"></i>
        <label>Change Profile Picture</label>
      </a>
      
      <a class="item item-icon-right" ui-sref="app.editProfile({field: 'name', value: user.pet.name})">
        <i class="icon ion-ios-arrow-forward"></i>
        <label>Name:</label>
        <span>{{user.pet.name}}</span>
      </a>

      <a class="item item-icon-right" ui-sref="app.editProfile({field: 'dob', value: user.pet.dob})">
        <i class="icon ion-ios-arrow-forward"></i>
        <label>Birthday: </label>
        <span>{{user.pet.dob | date:'MM/dd/yyyy'}}</span>
      </a>

      <a class="item item-icon-right" ui-sref="app.editProfile({field: 'sex', value: user.pet.sex})">
        <i class="icon ion-ios-arrow-forward"></i>
        <label>Gender: </label>
        <span>{{user.pet.sex}}</span>
      </a>

      <a class="item item-icon-right" ui-sref="app.editProfile({field: 'breed', value: user.pet.breed})">
        <i class="icon ion-ios-arrow-forward"></i>
        <label>Breed: </label>
        <span>{{user.pet.breed}}</span>
      </a>

      <a class="item item-icon-right" ui-sref="app.editProfile({field: 'bio', value: user.pet.bio})">
        <i class="icon ion-ios-arrow-forward"></i>
        <label>Bio: </label>
            <p style="white-space:normal;">{{user.pet.bio}}</p>
      </a>

    <!--   <button type="button" class="button button-block button-assertive" ng-click="changePassword()">
        Change Password
      </button> -->
    </div>

       
<!-- mthemecolor -->
    </div>
    </ion-content>
</ion-view>
<div>
    <input type="text" ng-if='user.admin' ng-model="myModel" /> <span ng-if='!user.admin'>{{ myModel }}</span> </div>
