<ion-view view-title="Change Password">
    <div class="ionic login " style="background-image: url('img/landing.jpeg'); background-size: cover; background-repeat: no-repeat;">
        <div class="hero no-header flat" style="height:30%">
            <div class="content">
                <img src="img/Logo2_with_type.png" style="width:35%" />
            </div>
        </div>
        <form name="changePasswordForm">
           <div class="list">
              <ion-md-input name = "oldP" placeholder="Old Password" highlight-color="balanced" type="password" ng-model="user.oldPassword" required required></ion-md-input> 
                <ion-md-input name = "newP1" placeholder="New Password" highlight-color="balanced" type="password" ng-model="user.password" ng-minlength="6" required></ion-md-input>   
                <p class="help-text" ng-show="changePasswordForm.newP1.$error.minlength" class="help-block">Password is at least 6 characters.</p>
                <ion-md-input name = "newP2" placeholder="Confirm New Password" highlight-color="balanced" type="password" ng-model="user.password2" required></ion-md-input>
                <p class="help-text" ng-if="passwordMismatch">Please enter matching passwords</p>
            </div>
            <div class="padding">
                <button type="button" ng-click="changePassword()" class="button button-block button-calm waves-effect waves-button" ng-disabled="changePasswordForm.$invalid">Change Password</button>
            </div>
        </form>
    </div>
</ion-view>
